@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root { 
    --foreground: #fbe8d8;
    --background-start: #5a7969;
    --background-end: #36493f;
  }
} */

:root {
  --foreground-rgb:#36493f;
  --background-start:#d9e9df;
  --background-end: #e3eae5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
  
h1 {
  font-size: 6rem;
  font-weight: 800;
}

h2 {
  /* font-family: var(--font-josefine-slab); */
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
  padding: 1rem 0 0.5rem 0;
}
h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
p, a {
  font-size: 1.2rem;
}
a {
  text-decoration: underline;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}